<section>
    <h1>推荐</h1>
    <p><a href="https://www.vultr.com/?ref=6858690"><img src="https://www.vultr.com/media/300x250_02.gif" width="300" height="250"><br />每月5美元，768MB内存，15GB SSD硬盘，千GB流量，含日本机房</a></p>
    <p><a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=96481"><img src="https:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;300x250-1.gif" width="300" height="250" border="0" alt="Namecheap.com"><br />多种低价域名，赠一年隐私保护</a></p>
</section>
<section>
    <h1>广告</h1>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- art -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4233275739544541"
         data-ad-slot="2323760118"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</section>
