<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<!-- Now disabled to boost loading speed in mainland China
<link href='https://fonts.lug.ustc.edu.cn/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.lug.ustc.edu.cn/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
-->

<!--Google page ad
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4233275739544541",
    enable_page_level_ads: true
  });
</script>
-->